<h1>Monitor records</h1>

<ul id="record-list">
  <% @records.each do |record| %>
    <a class="record-link" href="<%= record_path(record) %>">
      <li class="record clear-fix">
        <span class="record-name"><%= record.name %></span>
        <span class="record-email"><%= record.email %></span>
        <span class="record-title"><%= record.title %></span>
      </li>
    </a>
  <% end %>
</ul>

<%= paginate @records %>
