<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @record.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @record.title %>
</p>

<p>
  <strong>Message:</strong>
  <pre><%= @record.message %></pre>
</p>

<%= link_to 'Back', records_path, class: 'btn btn-default' %>
